body{
    font-family: 'Roboto', sans-serif;
    background-color: #8da2af;
}
.container{
    margin: auto;
    box-sizing: border-box;
    min-width: 600px;
    max-width: 1200px;
    background-color: #ffffff;
    margin-top: 20px;
    min-height: 90vh;
    border-radius: 20px;
    border: #000000 solid 3px;
}
.content-container{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.header{
    background: #66afcc;
    background: -moz-linear-gradient(top, #66afcc 1%, #006283 61%);
    background: -webkit-linear-gradient(top, #66afcc 1%,#006283 61%);
    background: linear-gradient(to bottom, #66afcc 1%,#006283 61%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66afcc', endColorstr='#006283',GradientType=0 );
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: #000000 solid 4px;
}
.header h1{
    padding-left: 20px;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006283;
}

.header li {
    float: left;
}

.header li button {
    background-color: #ffffff; 
    color: #000000; 
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.header.active li button {
    background-color: #001d25;
}
.header li button:hover {
    background-color: #008CBA;
    color: white;
}
#loadingContainer{
    margin: auto;
    padding-top: 50px;
    width: 200px;
}
#loadingHeader{
    font-size: 3em;
}
#loadingSpinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinLoader 2s linear infinite;
}

@keyframes spinLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
fieldset{
    margin: 20px;
    padding: 20px;
}
input[type=text], input[type=email], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;    
}
.button{
    background-color: #008CBA;
    border: none;
    color: #000000;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 50%;
    cursor: pointer;
}
.button:hover {
    background-color: #003f53;
    color: white;
}
.button:active {
    background-color: #001d25;
}
#jokeDiv{
    font-size: 1.2em;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: #000000 solid 2px;
}
.jokeList{
    padding: 10px;
    margin: 10px;
    border: #000000 solid 2px;
}